<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

	<mapper namespace="dao.UserDao">

        <resultMap type="entity.User" id="userClassMap">
            <id column="id" property="id"></id>
            <result column="username" property="username"></result>
            <result column="password" property="password"></result>
            <result column="sts" property="sts"></result>
            <result column="nickname" property="nickname"></result>
            <result column="email" property="email"></result>
            <result column="person_sign" property="personSign"></result>
            <result column="registe_time" property="registeTime"></result>
            <result column="login_ip" property="loginIp"></result>
            <result column="role_id" property="roleId"></result>
            <result column="birth" property="birth"></result>
            <association property="role" javaType="entity.Role">
                <id column="role_id" property="roleId" jdbcType="INTEGER"></id>
                <result column="role_name" property="roleName" jdbcType="VARCHAR"></result>
            </association>
        </resultMap>
		
		<insert id="addUser" parameterType="entity.User" >
			insert into user 
				(username,password,sts)
			values
				(#{username},#{password},'A')
	 		
		</insert>

		<update id="updateUser" parameterType="entity.User">
			update user
			<set>
				<if test="id != null and id!= '' ">
					id = #{id},
				</if>
				<if test="username != null and username!= '' ">
					username = #{username},
				</if>
				<if test="password != null and password!= '' ">
					password = #{password},
				</if>
				<if test="sts != null and sts!= '' ">
					sts = #{sts},
				</if>
				<if test="nickname != null and nickname!= '' ">
					nickname = #{nickname},
				</if>
				<if test="email != null and email!= '' ">
					email = #{email},
				</if>
				<if test="personSign != null and personSign!= '' ">
					person_sign = #{personSign},
				</if>
				<if test="registeTime != null and registeTime!= '' ">
					registe_time = #{registeTime},
				</if>
				<if test="loginIp != null and loginIp!= '' ">
					login_ip = #{loginIp},
				</if>
                <if test="roleId != null and roleId!= '' ">
                    role_id = #{roleId},
                </if>
				<if test="birth != null and birth!= '' ">
					birth = #{birth},
				</if>
			</set>
			where id = #{id} and sts='A'
		</update>
		
		<select id="queryPagerList" parameterType="Map" resultType="entity.User">
			select 
				 id,username,password 
			from 
				user
			where
				1=1 and sts='A'
			<if test="username != null and username!= '' ">
				and username like concat('%',#{username},'%')
			</if>
			<if test="password != null and password!= ''">
				 and password = #{password}
			</if>
            order by id
			<if test="limit != '-1' and offset != '-1' ">
			limit #{offset},#{limit}
			</if>
			
		</select>
		
		<select id="getTotal" parameterType="entity.User" resultType="Integer">
			select 
				 count(*)
			from 
				user
			where
				1=1  and sts='A'
			<if test="username != null and username != '' ">
				and username like concat('%',#{username},'%')
			</if>
			<if test="password != null and password != ''">
				 and password=#{password}
			</if>
			
		</select>
		
		<select id="queryBean" parameterType="entity.User" resultMap="userClassMap">
			select 
				 id,username,password,sts,nickname,email,person_sign,registe_time,login_ip,role_id,birth
			from 
				user
			where 
				1=1 and sts='A'
			<if test="id != null and id!= '' ">
				and id=#{id}
			</if>
			<if test="username != null and username != '' ">
				and username=#{username}
			</if>
			<if test="password != null and username != '' ">
				and password=#{password}
			</if>
			<if test="sts != null and sts != '' ">
				and sts=#{sts}
			</if>
			<if test="nickname != null and nickname!= '' ">
				and nickname = #{nickname}
			</if>
			<if test="email != null and email!= '' ">
				and email = #{email}
			</if>
			<if test="personSign != null and personSign!= '' ">
				and person_sign = #{personSign}
			</if>
			<if test="registeTime != null and registeTime!= '' ">
				and registe_time = #{registeTime}
			</if>
			<if test="loginIp != null and loginIp!= '' ">
				and login_ip = #{loginIp}
			</if>
            <if test="roleId != null and roleId!= '' ">
                and role_id = #{roleId}
            </if>
			<if test="birth != null and birth!= '' ">
				and birth = #{birth}
			</if>
			
		</select>

		<select id="findUserByUsername" parameterType="string" resultType="entity.User">
			select
			username,password
			from
			user
			where
			sts='A'
			and username=#{username}

		</select>

		<select id="queryUserRoleList" parameterType="Map" resultMap="userClassMap">
			select b.id,b.username,b.nickname,b.email,b.person_sign,b.registe_time,b.role_id,b.birth,a.role_name
			from role a, user b
			where b.role_id=a.role_id and a.sts='A' and b.sts='A'
			<if test="username != null and username!= '' ">
				and b.username like concat('%',#{b.username},'%')
			</if>
			<if test="roleId != null and roleId != '' ">
				and b.role_id = #{roleId}
			</if>
			ORDER BY b.id
			<if test="limit != '-1' and offset != '-1' ">
				limit #{offset},#{limit}
			</if>
		</select>

		<select id="getUserRoleTotal" parameterType="Map" resultType="Integer">
			select count(*)
			from role a, user b
			where b.role_id=a.role_id and a.sts='A' and b.sts='A'
			<if test="username != null and username != '' ">
				and b.username like concat('%',#{b.username},'%')
			</if>
			<if test="roleId != null and roleId != '' ">
				and b.role_id = #{roleId}
			</if>
			ORDER BY b.id
		</select>
	</mapper>








