/*更改bootstrap默认按钮选中后focus样式*/
.btn:focus, .btn.focus, .btn:active:focus,.btn:active.focus, .btn.active:focus, .btn.active.focus, input:focus, input:active, select:focus, select:active:focus
{
    outline:none;
    box-shadow:none;
}

/*验证码*/
#checkCode {
	width:75%;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#codeImg {
	width:20%;
}
